# Game Debug Files
atlas*.bmp
*.log
*.txt
*.dll
*.exe
*.pdb
*.pak
*vcxproj*
errorlog.txt

# Saves And User Files
Saves/
Data/options.ini
Data/test.ini
Data/KeyConfig.ini

#OS junk files
[Tt]humbs.db
*.DS_Store
desktop.ini
app.config
PDA_UI/