# Game Debug Files
atlas*.bmp
*.log
*.txt
*.dll
*.exe
*.pdb
*.pak
*vcxproj*
errorlog.txt

# Saves And User Files
Data/options.ini
Saves/

#OS junk files
[Tt]humbs.db
*.DS_Store
desktop.ini
app.config
PDA_UI/
MainMenu_UI/