# Game Debug Files
atlas*.bmp
*.log
*.txt
*.dll
*.exe
*.pdb
*.pak
*vcxproj*
errorlog.txt
SFont_Orbitron_Bold_32.png

# Saves And User Files
Data/options.ini
Data/Blocks/BlockMapping.ini
Saves/

#OS junk files
[Tt]humbs.db
*.DS_Store
desktop.ini
app.config
PDA_UI/
MainMenu_UI/