#credits-outer-wrapper {
    width: 50%;
    margin: 0 auto;
}
#credits-list {
    font-size: 0.75em;
}

#credits-list > li {
    margin-bottom: 20px;
}
.credit-header-image, .credit-header-who {
    display: inline-block;
    vertical-align: top;
}
.credit-header-image > img {
    height: 50px;
    width: 50px;
    display: block;
}
.credit-header-who {
    line-height: 50px;
}
.credit-header-who-title {
    font-size: 0.65em;
    font-style: italic;
}

@media screen and (max-width:1024px) {
    #credits-list {
        font-size: 0.6em;
    }
    #credits-list > li {
        margin-bottom: 10px;
    }
    .credit-header-image > img {
        height: 25px;
        width: 25px;
    }
    .credit-header-who {
        line-height: 25px;
    }
}