#outer-wrapper > .row > .column-2:first-child {
    width: 30%;
}
    #outer-wrapper > .row > .column-2 + .column-2 {
        margin-left: 20%;
    }

.list-item > .column-2 {
    width: 100%;
}
    .list-item > .column-2 + .column-2 {
        margin-top: -12px;
        margin-bottom: 5px;
    }