
html { overflow: hidden; }
body {
    font-family: 'orbitronregular',sans-serif;
    background-image:url('Background.jpg');
    background-repeat:no-repeat;
    background-color: #000;
    width:100%;
    height:98%;
    overflow: hidden;
    outline: 0;
}



.Mainmenu {
    margin-top: 6%;
    color: #FFFFFF;
    text-transform:uppercase;
    font-family: 'orbitronbold';
    font-size: 66px;
    margin-bottom: 10px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.9), 0 0 20px rgba(245, 245, 245, 0.7);
    margin-left: 10%; 
}

@media screen and (max-width:1024px){
   .Mainmenu {
     font-size:33px; 
   }
}

.menu {
margin-top: -175px;
}

.menu_simple ul {
    margin-left: 10%;
    padding: 0;
    list-style-type: none;
}

.menu_simple ul li a {
    width: 350px;
    text-decoration: none;
    color: white; 
    display:block;
    text-transform:capitalize;
    font-size:33px;
}
 
.menu_simple ul li a:visited {
    color: white;
}

 
.menu_simple ul li a:hover, .menu_simple ul li .current {
    width:100%;
    color: black;
    text-shadow: 0 0 2px rgba(0, 0, 0, 1), 0 0 5px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.6);
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjZDNmZSIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMmNkM2ZlIiBzdG9wLW9wYWNpdHk9IjAuNTMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(left,  rgba(44,211,254,0.9) 0%, rgba(44,211,254,0.53) 50%, rgba(125,185,232,0.15) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(44,211,254,0.9)), color-stop(50%,rgba(44,211,254,0.53)), color-stop(100%,rgba(125,185,232,0.15))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(44,211,254,0.9) 0%,rgba(44,211,254,0.53) 50%,rgba(125,185,232,0.15) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(44,211,254,0.9) 0%,rgba(44,211,254,0.53) 50%,rgba(125,185,232,0.15) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(44,211,254,0.9) 0%,rgba(44,211,254,0.53) 50%,rgba(125,185,232,0.15) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(44,211,254,0.9) 0%,rgba(44,211,254,0.53) 50%,rgba(125,185,232,0.15) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e62cd3fe', endColorstr='#267db9e8',GradientType=1 ); /* IE6-8 */
}


.Description div{
     font-size: 18px;
     font-family: 'orbitronlight';
    margin-top: 50px;
    margin-left: 10%; 
    text-transform:uppercase;
	letter-spacing:1px;
    width: 100%;
    color: white;
    padding: 10.5px 11px;
    height: auto;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIwLjcxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYyJSIgc3RvcC1jb2xvcj0iIzVhYTJkZCIgc3RvcC1vcGFjaXR5PSIwLjcxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  rgba(32,124,202,0.71) 0%, rgba(90,162,221,0.71) 62%, rgba(125,185,232,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(32,124,202,0.71)), color-stop(62%,rgba(90,162,221,0.71)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(32,124,202,0.71) 0%,rgba(90,162,221,0.71) 62%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(32,124,202,0.71) 0%,rgba(90,162,221,0.71) 62%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(32,124,202,0.71) 0%,rgba(90,162,221,0.71) 62%,rgba(125,185,232,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(32,124,202,0.71) 0%,rgba(90,162,221,0.71) 62%,rgba(125,185,232,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5207cca', endColorstr='#007db9e8',GradientType=1 ); /* IE6-8 */

}


.selected {
color: black;
}

.nav-toggle {margin-top:12px; margin-bottom:12px; background: transparent; width: 100%; }
.nav-wrap { position: relative; width: 100%;  height: 0; overflow: hidden; 
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIwLjcxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYyJSIgc3RvcC1jb2xvcj0iIzVhYTJkZCIgc3RvcC1vcGFjaXR5PSIwLjcxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  rgba(32,124,202,0.71) 0%, rgba(90,162,221,0.71) 62%, rgba(125,185,232,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(32,124,202,0.71)), color-stop(62%,rgba(90,162,221,0.71)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(32,124,202,0.71) 0%,rgba(90,162,221,0.71) 62%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(32,124,202,0.71) 0%,rgba(90,162,221,0.71) 62%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(32,124,202,0.71) 0%,rgba(90,162,221,0.71) 62%,rgba(125,185,232,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(32,124,202,0.71) 0%,rgba(90,162,221,0.71) 62%,rgba(125,185,232,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5207cca', endColorstr='#007db9e8',GradientType=1 ); /* IE6-8 */
 }
.nav-wrap.transition {
	-webkit-transition: height 0.35s ease;
	-moz-transition: height 0.35s ease;
	-o-transition: height 0.35s ease;
	transition: height 0.35s ease; }
.expand .nav-wrap { height: auto; }


.menu_simple_toggle ul {
    padding: 0;
    list-style-type: none;
    margin-left: -9%;
}

.menu_simple_toggle ul li a {
    text-decoration: none;
    color: white; 
    display:block;
    text-transform:capitalize;
    font-size:18px;
}
 
.menu_simple_toggle ul li a:visited {
    color: white;
}

 
.menu_simple_toggle ul li a:hover, .menu_simple_toggle ul li .current {
    width:100%;
    color: black;
    text-shadow: 0 0 2px rgba(0, 0, 0, 1), 0 0 5px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.6);
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjZDNmZSIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMmNkM2ZlIiBzdG9wLW9wYWNpdHk9IjAuNTMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(left,  rgba(44,211,254,0.9) 0%, rgba(44,211,254,0.53) 50%, rgba(125,185,232,0.15) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(44,211,254,0.9)), color-stop(50%,rgba(44,211,254,0.53)), color-stop(100%,rgba(125,185,232,0.15))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(44,211,254,0.9) 0%,rgba(44,211,254,0.53) 50%,rgba(125,185,232,0.15) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(44,211,254,0.9) 0%,rgba(44,211,254,0.53) 50%,rgba(125,185,232,0.15) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(44,211,254,0.9) 0%,rgba(44,211,254,0.53) 50%,rgba(125,185,232,0.15) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(44,211,254,0.9) 0%,rgba(44,211,254,0.53) 50%,rgba(125,185,232,0.15) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e62cd3fe', endColorstr='#267db9e8',GradientType=1 ); /* IE6-8 */
}

#cover {
  background: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  top: 0;
}

#overlay_form{
    color:white;
    text-align: center;
    margin-top: 18%;
    margin-left:-10px;
	position: absolute;
	padding: 10px;
	width: 100%;
	height: 190px;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIwN2NjYSIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICAgIDxzdG9wIG9mZnNldD0iNDIlIiBzdG9wLWNvbG9yPSIjMjk4OWQ4IiBzdG9wLW9wYWNpdHk9IjAuNjIiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(left, rgba(32,124,202,0.7) 0%, rgba(41,137,216,0.62) 42%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(32,124,202,0.7)), color-stop(42%,rgba(41,137,216,0.62)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(32,124,202,0.7) 0%,rgba(41,137,216,0.62) 42%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(32,124,202,0.7) 0%,rgba(41,137,216,0.62) 42%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(32,124,202,0.7) 0%,rgba(41,137,216,0.62) 42%,rgba(0,0,0,0.5) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(32,124,202,0.7) 0%,rgba(41,137,216,0.62) 42%,rgba(0,0,0,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3207cca', endColorstr='#80000000',GradientType=1 ); /* IE6-8 */
}

.menu_simple_confirm ul {
    padding: 0;
    list-style-type: none;
    margin-left:-10px;
}

.menu_simple_confirm ul li a {
    text-decoration: none;
    color: white; 
    display:block;
    text-transform:capitalize;
    font-size:18px;
}
 
.menu_simple_confirm ul li a:visited {
    color: white;
}
 
.menu_simple_confirm ul li a:hover, .menu_simple_toggle ul li .current {
    width:100%;
    color: black;
    text-shadow: 0 0 2px rgba(0, 0, 0, 1), 0 0 5px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.6);
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjZDNmZSIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMmNkM2ZlIiBzdG9wLW9wYWNpdHk9IjAuNTMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(left,  rgba(44,211,254,0.9) 0%, rgba(44,211,254,0.53) 50%, rgba(125,185,232,0.15) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(44,211,254,0.9)), color-stop(50%,rgba(44,211,254,0.53)), color-stop(100%,rgba(125,185,232,0.15))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(44,211,254,0.9) 0%,rgba(44,211,254,0.53) 50%,rgba(125,185,232,0.15) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(44,211,254,0.9) 0%,rgba(44,211,254,0.53) 50%,rgba(125,185,232,0.15) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(44,211,254,0.9) 0%,rgba(44,211,254,0.53) 50%,rgba(125,185,232,0.15) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(44,211,254,0.9) 0%,rgba(44,211,254,0.53) 50%,rgba(125,185,232,0.15) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e62cd3fe', endColorstr='#267db9e8',GradientType=1 ); /* IE6-8 */
}


input[type=range] {
    -webkit-appearance: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
    width: 500px;
    height:15px;
	outline:0;
	
-webkit-box-shadow: 0px 0px 15px 5px rgba(29, 46, 56, .75);
-moz-box-shadow: 0px 0px 15px 5px rgba(29, 46, 56, .75);
box-shadow: 0px 0px 15px 5px rgba(29, 46, 56, .75);
		
	
	background: -moz-linear-gradient(left, rgba(44,211,254,0.6) 0%, rgba(30,87,153,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(44,211,254,0.6)), color-stop(100%,rgba(30,87,153,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(44,211,254,0.6) 0%,rgba(30,87,153,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(44,211,254,0.6) 0%,rgba(30,87,153,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(44,211,254,0.6) 0%,rgba(30,87,153,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(44,211,254,0.6) 0%,rgba(30,87,153,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#992cd3fe', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 */
}
input[type=range]:hover {
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: transparent;
    width: 25px;
    height: 25px;
	background-image:url('images/handle.png');
	
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	

}
