.row {
    width: 100%;
    position: relative;
}
.half-column {
    width: 50%;
    height: auto;
    display: inline-block;
    float: left;
    position: relative;
}

.options {
    margin-left: 40px;
    margin-right: 80px;
    padding-right: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 10px;
    padding-top: 15px;
    margin-top: 20px;
}

.option-category {
    font-size: 0.9em;
}

.option-category + .option, .option + .option-category {
    margin-top: 20px;
}
.option {
    margin-left: 20px;
    padding-left: 20px;
    margin-right: 10px;
    background: rgba(0,0,0,0.4);
    position: relative;
    line-height: 44px;
}
.option ~ .option > .content-corner-top-left, .option ~ .option > .content-corner-top-right {
    margin-top: -1px;
}
    .option-category + .option > .content-corner-top-left, .option-category + .option > .content-corner-top-right {
        margin-top: 0;
    }
.option ~ .option {
    border-top: 1px solid rgba(56,174,207,0.3);
}
    .option-category + .option {
        border-top: none;
    }
.control {
    text-shadow: none;
    font-size: 0.55em;
}
.control-value {
    text-align: center;
}

.options-extra-controls-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
}

.helper {
    background: rgba(0,0,0,0.4);
    position: relative;
    font-size: 0.55em;
    text-transform: none;
    padding: 10px;
    margin-right: 40px;
    margin-top: 40px;
}