/* --- Start Orbitron Fonts --- */
@font-face {
    font-family: 'orbitronblack';
    src: url('../fonts/the_league_of_orbitron/orbitron_black-webfont.eot');
    src: url('../fonts/the_league_of_orbitron/orbitron_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/the_league_of_orbitron/orbitron_black-webfont.woff') format('woff'),
         url('../fonts/the_league_of_orbitron/orbitron_black-webfont.ttf') format('truetype'),
         url('../fonts/the_league_of_orbitron/orbitron_black-webfont.svg#orbitronblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'orbitronbold';
    src: url('../fonts/the_league_of_orbitron/orbitron_bold-webfont.eot');
    src: url('../fonts/the_league_of_orbitron/orbitron_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/the_league_of_orbitron/orbitron_bold-webfont.woff') format('woff'),
         url('../fonts/the_league_of_orbitron/orbitron_bold-webfont.ttf') format('truetype'),
         url('../fonts/the_league_of_orbitron/orbitron_bold-webfont.svg#orbitronbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'orbitronlight';
    src: url('../fonts/the_league_of_orbitron/orbitron_light-webfont.eot');
    src: url('../fonts/the_league_of_orbitron/orbitron_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/the_league_of_orbitron/orbitron_light-webfont.woff') format('woff'),
         url('../fonts/the_league_of_orbitron/orbitron_light-webfont.ttf') format('truetype'),
         url('../fonts/the_league_of_orbitron/orbitron_light-webfont.svg#orbitronlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'orbitronregular';
    src: url('../fonts/the_league_of_orbitron/orbitron_medium-webfont.eot');
    src: url('../fonts/the_league_of_orbitron/orbitron_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/the_league_of_orbitron/orbitron_medium-webfont.woff') format('woff'),
         url('../fonts/the_league_of_orbitron/orbitron_medium-webfont.ttf') format('truetype'),
         url('../fonts/the_league_of_orbitron/orbitron_medium-webfont.svg#orbitronregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* --- End Orbitron Fonts --- */

/* --- Fixes --- */
*:focus {
	outline: 0;
}
input[type="checkbox"] {
	visibility: hidden;
}
/* --- End Fixes --- */

/* The Dropdown Menu styles */

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    max-height: 100%;
}

body {
    font-family: 'orbitronlight', Century Gothic,sans-serif;
    background: rgba(0,0,0,0);
    height: 100%;
    max-height: 100%;
    position: fixed;
    color: #EAEAEA;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body ul.Menu {
	margin-top: 25px;
	margin-left: 25px;
	width: 75px;
}

body ul.Menu > li {
	width: 100%;
}

body ul.Menu > li  > a {
	text-align: center;
}

body ul.Menu > li  > ul {
	width: 100px;
}

body ul.Menu > li  > ul > li {
	width: 100%;
}

ul.Dropdown ul{display:none;}
ul.Dropdown li:hover>ul{display:block;}
ul.Dropdown ul{position: absolute;left:-1px;top:98%;}
ul.Dropdown ul ul{position: absolute;left:98%;top:-2px;}
ul.Dropdown,ul.Dropdown ul {
	margin: 0px;
	list-style: none;
	padding: 0px;
	background-color: #202020;
	background-repeat: repeat;
	border-color: #38AECF;
	border-width: 1px;
	border-style: solid;
}

ul.Dropdown table {border-collapse:collapse}ul.Dropdown {
	display:block;
	zoom:1;
	float: left;
}

ul.Dropdown li{
	display:block;
	margin:0px 0px 0px 0px;
	font-size:0px;
    z-index: 1;
}
ul.Dropdown a:active, ul.Dropdown a:focus {
    outline-style:none;
}
ul.Dropdown a, ul.Dropdown li.dis a:hover, ul.Dropdown li.sep a:hover {
	display:block;
	vertical-align:middle;
	background-color:#1C5563;
	border-width:1px;
	border-color:#38AECF;
	border-style:solid;
	text-align:left;
	text-decoration:none;
	padding:2px 5px 2px 10px;
	font-size: 12px;
	color: #000000;
	text-decoration:none;
	cursor:default;
}

ul.Dropdown span{
	overflow:hidden;
}
ul.Dropdown li {
	float:left;
}
ul.Dropdown ul li {
	float:none;
}

ul.Dropdown ul a {
	text-align:left;
	white-space:nowrap;
}
ul.Dropdown li.sep{
	text-align:left;
	padding:0px;
	line-height:0;
	height:100%;
}
ul.Dropdown li.sep span{
	float:none;	padding-right:0;
	width:3px;
	height:100%;
	display:inline-block;
	background-color: #202020 #111111 #111111 #202020;
	background-image: none;
}
ul.Dropdown ul li.sep span{
	width:100%;
	height:3px;
}
ul.Dropdown li:hover{
	position:relative;
    z-index:100;
}
ul.Dropdown li:hover>a{
	background-color:#1C5563;
	border: none;
	font-size: 12px;
	color: #EAEAEA;
	text-decoration:none;
    z-index:100;
}
ul.Dropdown li a{
	position:relative;
	background-color:#202020;
	border: none;
	font-size: 12px;
	color: #EAEAEA;
	text-decoration:none;
}
ul.Dropdown li a:hover{
	position:relative;
	background-color:#1C5563;
	border: none;
	font-size: 12px;
	color: #EAEAEA;
	text-decoration:none;
}
ul.Dropdown li.dis a {
	color: #666 !important;
}
ul.Dropdown img {
border: none;
float:left;
_float:none;
margin-right:2px;
width:16px;
height:16px;
}
ul.Dropdown ul img {width:16px;
height:16px;
}
ul.Dropdown img.over{display:none}
ul.Dropdown li.dis a:hover img.over{display:none !important}
ul.Dropdown li.dis a:hover img.def {display:inline !important}
ul.Dropdown li:hover > a img.def  {display:none}
ul.Dropdown li:hover > a img.over {display:inline}
ul.Dropdown a:hover img.over,ul.Dropdown a:hover ul img.def,ul.Dropdown a:hover a:hover ul img.def,ul.Dropdown a:hover a:hover a:hover ul img.def,ul.Dropdown a:hover a:hover img.over,ul.Dropdown a:hover a:hover a:hover img.over,ul.Dropdown a:hover a:hover a:hover a:hover img.over{display:inline}
ul.Dropdown a:hover img.def,ul.Dropdown a:hover ul img.over,ul.Dropdown a:hover a:hover ul img.over,ul.Dropdown a:hover a:hover a:hover ul img.over,ul.Dropdown a:hover a:hover img.def,ul.Dropdown a:hover a:hover a:hover img.def,ul.Dropdown a:hover a:hover a:hover a:hover img.def{display:none}
ul.Dropdown a:hover ul,ul.Dropdown a:hover a:hover ul,ul.Dropdown a:hover a:hover a:hover ul{display:block}
ul.Dropdown a:hover ul ul,ul.Dropdown a:hover a:hover ul ul{display:none}
ul.Dropdown span{
	display:block;
	background-position:right center;
	background-repeat: no-repeat;
   padding-right:12px;
}
ul.Dropdownm li{
    border-bottom: 1px solid #38AECF;
}
ul.Dropdownm li#dropdownborder{
    border-bottom: none;
}
ul.Dropdownm li:last-child{
    border-bottom: none;
}
ul.Dropdown {
    margin-top: 5px;
}

/* Header Styles */
#header {
    background-color: rgba(0, 0, 0, 0.8);
	box-shadow: inset 0 0 28px 6px rgba(56,174,207,0.7);
    height: auto;
    min-height: 125px;
    position: relative;
    top: 0px;
    width: 75.7%;
    z-index: 0;
    float: left;
    border-bottom: 1px solid #10BEEF;
    border-left:none;
    text-align:center;
}
#header > h1 {
    font-size: 48px;
    font-size-adjust: 0.43;
    font-weight: 400;
    height: 48px;
    margin-top: 5px;
    margin-bottom: 10px;
	color: white;
	text-shadow: 0px 0px 5px white, 0px 0px 10px white, 0px 0px 20px white;
}
#currentTreeText {
    font-size: 16px;
}

/* Tab Styles */
#Tabs {
    text-align:center;
    height: auto;
    min-height: 60px;
}

.ui-slider-horizontal{
    width: 96%;
    margin-left: 2%;
}

#Tabs > button
{
    padding: 10px;
}

/* Contentbox Styles */
div.wrapper {
    margin: 0px auto;
    overflow:auto;
    height: 94%;
    display: block;
	width: 90%
}


div.Contentbox {
    background-color: rgba(0, 0, 0, 0.8);
	box-shadow: inset 0 0 28px 6px rgba(56,174,207,0.7);
    border-right: 1px solid #38AECF;
    float: left;
    font-size: 0.923em;
    margin: 0 0 0em 0em;
    padding: 0;
    position: relative;
    width: 24%;
    height: 100.0%;
}

div.Contentbox .heading, div.nav .heading {
    /*border-color: #38AECF;
    border-style: solid;
    border-width: 1px;*/
    /*font-family: 'Conv_bebas_neue_regular';*/
    font-size: 28px;
    font-size-adjust: 0.43;
    font-weight: 400;
    height: 5%;
    margin: -1px -1px 5px !important;
    position: relative;
    text-align: center;
    z-index: 1;
    padding-left: 5px;
}

div.Contentbox .heading, div.Contentbox .subheading {
    background-color: none;
}

label {
   font-size: 14px;
}

#WorldView{
    background: rgba(0,0,0,0.0);
    height: 100%;
    position: relative;
    float: left;
    top: 0px;
    width: 75.7%;
    z-index: 0;
    border-left:none;
    text-align:center;
    /*font-family:Century Gothic,sans-serif;*/
}
#Universal-Overlay{
    position: absolute;
    top: 75%;
    z-index: 200;
}
#ReloadTextures{
}

#TreeAge{
    background: none repeat scroll 0 0 #202020;
    border: 1px solid #38AECF;
    width: 180px;
    height: 20px;
	margin-left: 20px;
	margin-top: 10px;
    font-size: 14px;
    text-align:left;
    padding-left: 2px;
}

#currentBlockName, #currentBlockID{
    font-size: 20px;
}


#RegenerateChunks{
    font-size: 14px;
    text-align:center;
    margin-left: 20px;
    margin-top: 0px;
}

#Content{
    margin: 5px;
    font-size: 0.9em;
}

#currentTreeTextBox, #currentBlockTextBox{
    width: 70%;
}

#climateSliders{
    width: 50%;
}

.Dropdownim{
    z-index: 100;
    font-size: 100px;
}

.NoiseSpan{
    display: block;
}

button {
    background-color: #222222;
    border-radius: 4px;
    border-top: 2px solid #38AECF;
    border-left: none;
    border-right: none;
    border-bottom: none;
    box-shadow: 0 2px 2px rgba(34, 34, 34, 0.5);
    color: #EAEAEA;
    /*font-family: 'orbitronlight','Exo',sans-serif;*/
    font-size: 1.0em;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px;
    text-transform: uppercase;
    display: inline-block;
}
button:hover {
    background-color: #1C5563;
    cursor: pointer;
}

.buttonWrapper {
	margin: 0 auto;
}

fieldset {
    border-radius: 4px;
    border: 2px solid #38AECF;
    margin-bottom: 5px;
	text-align: center;
}
legend {
    background-color: #101010;
    border-radius: 4px;
    border: 2px solid #38AECF;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    color: #EAEAEA;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase;
    display: inline-block;

}
input[type="text"] {
    background-color: #101010;
    border: 2px solid #38AECF;
    margin-bottom: 5px;
    color: #EAEAEA;
	width: 70px;
}

.checkbox {
	width: 32px;
	height: 32px;
	background: #ddd;
	margin: 5px;

	border-radius: 100%;
	position: relative;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	display: inline-block;
}
.checkbox label {
	display: block;
	width: 22px;
	height: 22px;
	line-height: 22px;
	border-radius: 100px;

	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;

	background: #000;

	-webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}
.checkbox input[type="checkbox"]:checked + label {
	background: #38AECF;
}

.ui-slider {
}
.ui-slider-handle {
} 
.ui-state-default {
    border: 2px solid #38AECF !important;
    background: #101010 !important;
}
.ui-widget-header {
   background: #101010 !important;

}
.ui-widget-content {
    border: 2px solid #38AECF !important;
    background: #252525 !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: #1C5563 !important;

}
.sliderValue {
    border-width: 1px !important; 
    color: #17687C; 
    font-weight: bold;
}

/* --- Slider --- */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3); 
    -webkit-border-radius: 0;
	width: 100%;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 0;
    background: rgba(16,190,239,0.4); 
    -webkit-box-shadow: inset 0px 0px 6px rgba(16,190,239,1); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(16,190,239,0.2); 
}
 